.upload-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: "Nunito", sans-serif;
}

.file-info {
  margin-top: 10px;
}

.placeholders-list {
  margin-top: 20px;
}
